h1 {
  padding-top: 10px;
  margin-top: 0;
}

.formContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.boxshadow {
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #000000;
}

.form {
  border-radius: 10px;
  background-color: #fca311;
  height: inherit;
}

.form input {
  background-color: #e5e5e5;
  border: none;
  height: 30px;
}

.form button {
  border: 2px solid black;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}

.form button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

hr {
  border: 2px solid black;
  background-color: black;
}
